.wrapper {
  max-width: 1555;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
}
.content {
  max-width: 1555px;
  height: 37px;
  padding: 10px;
  margin: 0 auto;
  font-family: $font;
  color: $text-color;
  font-weight: 400;
  background-color: $primary-color;
  text-align: center;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  line-height: 1;
  font-family: $font;
  color: $text-color;
  //fw400
  font-weight: 400;
}
.button {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100em;
  font-family: $font;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  &--primary {
    font-weight: 700;
    background-color: $button-color2;
    color: $text-color1;
  }
  &--outline {
    background-color: transparent;
    font-weight: 500;
    border: 1px solid;
  }
  &--rounded {
    border-radius: 10px;
    padding: 17px 65px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 90%;
      border-radius: 10px;
      filter: blur(54px);
      transform: translate(-50%, 50%);
      z-index: -1;
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-weight: bold;
}
//
.global-heading {
  --heading-color: black;
  color: var(--heading-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 156%;
  padding-bottom: 26px;
  margin-bottom: 30px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 56px;
    height: 2px;
    background-color: var(--heading-color);
    left: 0;
    bottom: 0;
  }
}
.global-heading--center {
  text-align: center;
  &:before {
    left: 50%;
    transform: translateX(-50%);
  }
}
.global-text {
  font-size: 18px;
  line-height: 167%;
}
.center-inline {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.global-dots {
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 1023px) {
  .global-heading {
    font-size: 25px;
  }
  .global-dots {
    transform: scale(0.5) !important;
  }
  .button {
    font-size: 16px;
    padding: 15px 40px;
  }
}
//
.container-fluid {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
//
.footer-header {
  margin-bottom: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-heading {
  max-width: 62rem;
}
.footer-bottom {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 0 9rem;
}
.footer-desc {
  max-width: 47rem;
}
.footer-social {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  gap: 0 4.5rem;
  font-size: 3rem;
}
.footer-columns {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 0 9rem;
  list-style: none;
}
.footer-title {
  font-weight: 500;
  margin-bottom: 5rem;
  letter-spacing: 0.5px;
}
.footer-list {
  list-style: none;
}
.footer-item {
  margin-bottom: 4rem;
}
.footer-link {
  color: inherit;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  .footer-header {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5rem 0;
  }
  .footer-bottom {
    grid-template-columns: 1fr;
    grid-gap: 5rem 0;
  }
  .footer-social {
    margin-top: 4rem;
  }
  .footer-columns {
    grid-template-columns: 1fr;
    grid-gap: 3rem 0;
  }
}
