// biến màu phông chữ
$font: "Rubik", sans-serif;
// chữ bình thường
$text-color1: #f9f9f9;
$text-color: #4f5665;
// chữ trung tâm
$heading-color: #0b132a;
// màu chủ đạo
$primary-color: #e9f1ff;
$gray-color: #dde0e4;
$button-color2: #0075ffad;
$black: black;
